<template name="forgotPassword">
	<h2> QCode! </h2>
	<h3> Password Recovery </h3>
	<h4> Enter your email to continue: </h4>
    {{#if errorMessages}}
      <div class="list-errors">
        {{#each errorMessages}}
          <div class="alert alert-danger" role="alert"> {{this}} </div>
        {{/each}}
      </div>
    {{/if}}
    <form>
	  <div class="input-group signup-group">
	    <span class="input-group-addon">Email</span>
	    <input type="email" class="form-control" placeholder="Email Adress" id="email">
	  </div>
	  

      <div id="login-button-row">
        <button type="submit" id="login-button">Recover your password</button>
        <a href="{{pathFor 'login'}}" class="float-right">Remembered your password?</a>
      </div>
    </form>
</template>