<template name="loginBody" class="lBody">
	
	<div class="container-fluid login">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6 mainBox">
				<div class="jumbotron mainHolder">
					{{> yield}}
				</div>
			    <div id="login-footer">
			      <!-- <a href="#"><img id="lock-icon" src="img/lock.svg"/> Privacy Policy </a> -->
				  <a href="https://github.com/karaggeorge"> Created by George Karagkiaouris </a>
			      <a href="http://www.quinnipiac.edu" class="float-right"> Powered by <span class="bold">Quinnipiac University </span></a>
			    </div>
			</div>
		</div>
	</div>
	
</template>